/* This container will have 2 columns inside of it */
/* I want the width to be the current width of the size of the application */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(20% - 1rem);
  border: 1px solid #ccc;
  background-color: blue;
  margin-right: 1rem;
  overflow-y: auto;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 79%;
  border: 1px solid #ccc;
  background-color: green;
  overflow-y: auto;
}
