/* Revised message-box */
#message-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: blue;
  margin-top: auto;
  margin-bottom: 1rem;
}

#message-input {
  height: 30%;
  width: 80%;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 0.5rem;
}
